body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400, 500;
  color: #2b283a;
  margin: 0;
}

header {
  background-color: #5f29a3;
  padding: 45px 0px;
}

h1 {
  color: whitesmoke;
  font-size: 36px;
  margin-bottom: 2px;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
  margin-top: 2px;
}

h2 {
  margin-top: 0;
}

section {
  padding: 45px 0px;
}

.images {
  width: 100%;
}

a {
  color: #ef5839;
  text-decoration: none;
}

a:hover {
  color: #d4b44c;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.container {
  margin: 0 auto;
  width: 620px;
}

.other {
  background-color: #5f29a3;
  color: whitesmoke;
}

.images-2 {
  border-radius: 4.6px;
  width: 300px;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

footer {

  margin: 0 auto;
  color: #5f29a3;
  padding: 45px 0;
  text-align: center;
}

p {
    line-height: 23px;
}

button {
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 800;
    border: 0;
    background-color: #f0e0ff;
    color: #5f29a3;
    display: inline-block;
    margin: 10px;
}

button:hover, :active {
    background-color: #f3e885;
    color: #2b283a;
    
}

.button-1 {
    background-color: #5f29a3;
    color: whitesmoke;
}

.button-2 {
    background-color: whitesmoke;
    color: #5f29a3;
}


